{% extends "base.html" %}
{% block title %}DOMA{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Ninja Forum</h1>
  <p class="lead">Welcome to Ninja forum!</p>
</div>
<table class="table">
  <thead class="thead-default">
    <tr>
      <th class="col-md-6">Topic</th>
      <th class="col-md-4">User</th>
      <th class="col-md-2">Date</th>
    </tr>
  </thead>
  <tbody class="hopsa">

            {% for topic in topics %}

                <tr>
                    <td><a href="/topic/{{ topic.key.id() }}"><strong>{{ topic.title }}</strong></a></td>
                    <td>Empty for now</td>
                    <td>{{ topic.created_at.strftime('%d. %m. %Y, %H:%M') }}</td>
                </tr>

            {% endfor %}
  </tbody>
</table>
{% endblock content %}